*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

body {
    background-color: white;
  }  

.navbar{
    height: 80px;
    background: #e3f1f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
} 
.logo{
    height: 80px;
    width: 120px;
    margin-left: 30px;
}
/* .navbar .logo a{
    font-size: 30px;
    color: rgba(0, 0, 255, 0.578);
    font-weight: 300;
    text-decoration: none;
    margin-left: 30px;
} */

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin: 0 5px;
}

.navbar ul li a{
    color: rgba(0, 0, 255, 0.578);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 10px;
    border-radius: 5px;
}

.navbar ul li a:hover{
    color: #000;
}




.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 420px;
    height: 40px;
    border-radius: 4px;
    margin-left: 100px;
    /* border: 2px solid black; */
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 0 10px;
    border-radius: 4px;
}

.Search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 255, 0.578);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: white;
}

.nav-search:hover {
    border: 2px solid rgba(0, 0, 255, 0.578);
}


/* login */
.nav-login i {
    font-size: 20px;
    color: rgba(0, 0, 255, 0.578);
    margin-top: 15px;
}

.nav-login i:hover {
    color: black;
}

.nav-login p {
    font-size: 11px;
    color: rgba(0, 0, 255, 0.578);
    margin-top: 0.3rem;
}

.nav-login p:hover {
    color: black;
}

.navbar a {
    text-decoration: none;
}


/* cart */

.nav-cart i {
    font-size: 20px;
    color: rgba(0, 0, 255, 0.578);
    margin-top: 15px;
}

.nav-cart i:hover {
    color: black;
}

.nav-cart p {
    font-size: 11px;
    color: rgba(0, 0, 255, 0.578);
    margin-top: 0.25rem;
}

.nav-cart p:hover {
    color: black;
}

.icon {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

.hero-sec {
    margin-top: 15px;
    width: 80%;
    justify-self: center;
} 



/** order section **/
.orderBanner{
  display: flex;
  max-width: 1240px;
  margin: auto;
  margin-top: 20px;
}

.orderBannerItems{
  flex-basis: 33%;
  margin: 1%;
}

.orderBannerItems img{
  width: 100%;
  height: auto;
}

/**  category Section **/

.categorySection{
    max-width: 1280px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
}

.categoryItems{
    flex-basis: 10%;
}

.categoryItems img{
    width: 100%;
    height: auto;
}


/** productRow section**/
.productSection{
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px 0px 0px;
}

.headingRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headingRow h2{
    font-size: 22px;
}

.headingRow a{
    color: #328839;
    font-size: 18px;
}

.productRow{
    width: 100%;
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.productItems{
    flex-basis: 15%;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.productImg{
    text-align: center;
    padding: 15px;
}

.productImg p{
    background-color: #f8f8f8;
    display: flex;
    width: 60px;
    gap: 5px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
}

.productContent{
    padding: 15px;
    padding-top: 0px;
}

.productContent h3{
    margin-bottom: 15px;
    font-size: 14px;
}

.productContent p{
    font-size: 14px;
    color: #848080;
}

.btn-price-outer{
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.btn-price-outer button{
    border: 1px solid #328839;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #f7fff9;
    font-size: 12px;
}

footer{
    padding: 40px 0px 0px 0px;
}

.footer-mid{
    max-width: 1280px;
    margin: auto;
}

.footer-mid-row1{
    width: 100%;
    display: flex;
    gap: 40px;
}

.footer-mid-row1-left{
    flex-basis: 30%;
}

.footer-mid-row1-left h3{
    margin-bottom: 20px;
}

.usefullLinks{
    display: flex;
}

.usefullLinks ul{
    flex-basis: 33%;
    list-style: none;
}

.usefullLinks ul li a{
    font-size: 14px;
    display: block;
    text-decoration: none;
    color: rgb(102, 102, 102);
    margin-bottom: 15px;
}

.footer-mid-row1-right{
    flex-basis: 70%;
}

.CategoriesHeadingRow{
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    align-items: center;
}

/* Cart Modal Styling */
#cart-modal .modal-content {
    max-width: 400px;
    margin: 0 auto;
}

.cart-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#cart-count {
    font-weight: bold;
    color:  rgba(0, 0, 255, 0.578);
}

#cart-count:hover{
    color: #000;
}


@media (max-width: 768px) {
    .navbar ul, .nav-search,.icon,.cart-icon{
        display: none;
    }
    .hero-sec{
        justify-self: center;
    }
    .orderBannerItems img{
        width: 96%;
        height: auto;
        justify-items: center;
      }
    .productSection{
        width: 380px;
    }
    
}





























